* {
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}

.c-gap-10 {
  column-gap: 10px;
}
