:root {
  --pink: #f85e9f;
  --purple: #5d50c6;
  --orange: #ff5722;
  --gray-dark: #000000de;
  --white: #fff;
  --yellow: #fffbf0;
  --gray-dark-2: #53525c;

  --fs-main: 18px;
  --fs-16: 16px;
}
